.body {
    font-family: Serif, Sans-serif;
    background-color: yellow;

}

.information {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 27px;
    font-family: Serif, Sans-serif;
}

.paraone {
    text-align: center;
    font-size: 15px;
}